@model FinalRuiz2018.Models.Compra

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Desea borrar la compra?</h3>
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index",new{},new{@class="btn btn-info"})
        </div>
    }
</div>
